<?xml version='1.0' encoding='utf-8'?>
<widget id="club.codemandos.tactical" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tactical</name>
    <description>
        Tactical Tic-Tac-Toe
    </description>
    <author email="andreig992@gmail.com" href="http://codemandos.club">
        HHS Codemandos
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="enableWebGL" value="true" />
    <preference name="errorUrl" value="err_index.html" />
    <preference name="keepRunning" value="true" />
    <preference name="loadingDialog" value="Loading...,Please wait" />
    <plugin name="cordova-plugin-whitelist" />
    <icon src="icon.png" />
</widget>
